@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1:verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    
}


html body {
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--fonte1) ;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
header h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
    
}
header p {
    font-size: 1.2em;
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 1.8em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    
    background-color: rgb(53, 52, 52);
    color: white;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 10px;
}   
   

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}
footer p {
    
    color: rgba(157, 163, 165, 0.822);
} 
  